[submodule "vimfiles/bundle/fugitive"]
	path = vimfiles/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vimfiles/bundle/python-mode"]
	path = vimfiles/bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "vimfiles/bundle/ack"]
	path = vimfiles/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "vimfiles/bundle/syntastic"]
	path = vimfiles/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vimfiles/bundle/tagbar"]
	path = vimfiles/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vimfiles/bundle/node-dict"]
	path = vimfiles/bundle/node-dict
	url = git://github.com/guileen/vim-node.git
[submodule "vimfiles/bundle/node-complete"]
	path = vimfiles/bundle/node-complete
	url = git://github.com/myhere/vim-nodejs-complete.git
[submodule "vimfiles/bundle/snipmate-nodejs"]
	path = vimfiles/bundle/snipmate-nodejs
	url = git://github.com/jamescarr/snipmate-nodejs.git
